{% extends 'MassAPIBundle:Home:layout.html.twig' %}

{% block title %}MassAPI • Map{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output="css/mass_api_front_home.css"
    'bundles/massapi/css/map.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts_head %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div id="gmap"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    var details = {
        'longitude': {{ postalCode.geo ? postalCode.geo.longitude : -0.5816439 }},
        'latitude': {{ postalCode.geo ? postalCode.geo.latitude : 44.8595317 }},
        'name': 'là'
    }
    </script>

    {% javascripts output="js/mass_api_front_home.js"
    'bundles/massapi/js/maps.js'  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
