{% extends 'MassAPIBundle:Admin:layout.html.twig' %}

{% block container %}
    <div class="btn-group" role="group">
        <a href="{{ path('admin_event_create') }}" type="button" class="btn btn-primary">New</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Start at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.location.name }}</td>
                <td>{{ event.startDate|date('d/m/Y') }}</td>
                <td><a href="{{ path('admin_event_update', {'id': event.id}) }}" type="button" class="btn btn-primary">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagerfanta(events) }}
{% endblock %}
