<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}MassAPI • Admin{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {% stylesheets output="css/mass_api_front.css"
        'vendor/bootstrap/dist/css/bootstrap.min.css'
        'vendor/font-awesome/css/font-awesome.min.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    {% endblock %}

    {% block javascripts_head "" %}
</head>

<body>

{% block body %}
    <div class="container-fluid content">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

<div class="modal fade" id="modal"></div>
{% block javascripts %}
    {% javascripts output="js/mass_api_front.js"
    'vendor/jquery/dist/jquery.min.js'
    'vendor/bootstrap/dist/js/bootstrap.min.js'
    'bundles/fosjsrouting/js/router.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
</body>
</html>
